{% extends 'base.html' %}



{% block title %}{{ user.full_name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-3">
        <img class="img-fluid" src="{{ user.image_url }}">
    </div>
    <div class="col">
        <h1>{{ user.full_name }}</h1>
        <a class="btn btn-primary" href="{{ url_for('edit_user', id=user.id) }}">Edit</a>

        {# (We use POST because DELETE would require JS...) #}
        <form class="d-inline-block" action="{{ url_for('delete_user', id=user.id) }}" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>

        <a class="btn btn-outline-primary" href="{{ url_for('list_users') }}">Cancel</a>

        <h3 class="mt-4">Posts</h3>
        {% if posts|length > 0 %}
            <ul>
                {% for p in posts %}
                    <li><a href="{{ url_for('show_post', id=p.id) }}">{{ p.title }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No posts found</p>
        {% endif %}

        <a class="btn btn-primary" href="{{ url_for('new_post', user_id=user.id) }}">Add Post</a>
    </div>
</div>
{% endblock %}